__pycache__
venv
venvLinux
koopman-ml
.vscode
Research (Master's Project).lnk
.ipynb_checkpoints
CS 6789 - Shortcut.lnk
mujocopro.txt
steps-for-learning-verification.txt
preliminary results/
note.txt
Google Colab Notebook Command.txt
BruntonKoopmanPiNotes.pdf
cs4789-Cartpole-Solution/
.DS_Store